* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans", "JetBrains Mono Nerd Font", sans-serif;
    font-size: 14px;
    margin: 0 8px;
}

window#waybar {
    background: #25202510;
}

#clock,
#backlight,
#cpu,
#memory,
#temperature,
#custom-nowplaying,
#custom-arch,
#pulseaudio,
#battery,
#network {
    color: white;
}

#clock {
	margin: 0;
    font-weight: bold;
}

#battery.charging {
    color: #8aff90;
}

#battery.warning {
    color: #ffd08a;
}

#battery.critical {
    color: #ff8a8a;
}

#workspaces {
    button.active {
        color: white;
        font-weight: bold;

        &.hosting-monitor {
            border-bottom: 1px solid white;
        }
    }

	button.hosting-monitor:not(.active) {
		border-bottom: 1px solid gray;
	}
}

window#waybar.empty #window {
	margin: 0;
	background-color: transparent;
}