/*
 * vim: ft=less
 */
/* Window behind control center and on all other monitors */
.blank-window {
  background: transparent;
}

.control-center {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  padding: 12px;
}

.floating-notifications {
  background: transparent;
}

.background {
  background: transparent;
}

.notification-row {
  background: transparent;
}

.notification {
  background: transparent;
  border-radius: 12px;
  margin: 6px 12px;
  padding: 0;
  box-shadow: none;
}

.notification-content {
  background: transparent;
  padding: 6px;
  border-radius: 12px;
}

.close-button {
  background: rgba(255, 255, 255, 0.45);
  color: #000000;
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}
.close-button:hover {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: rgba(255, 255, 255, 0.35);
  color: #000000;
  transition: all 0.15s ease-in-out;
}
.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: rgba(255, 255, 255, 0.45);
}

.notification-default-action {
  border-radius: 12px;
  /* When alternative actions are visible */
}
.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-action {
  border-radius: 0px;
  border-top: none;
  border-right: none;
  /* add bottom border radius to eliminate clipping */
}
.notification-action:first-child {
  border-bottom-left-radius: 10px;
}
.notification-action:last-child {
  border-bottom-right-radius: 10px;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: rgb(94, 255, 0);
  color: #000000;
  caret-color: #000000;
  border-radius: 12px;
}

.inline-reply-button {
  margin-left: 4px;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  color: #000000;
}
.inline-reply-button:disabled {
  background: initial;
  color: rgb(150, 150, 150);
  border: 1px solid transparent;
}
.inline-reply-button:hover {
  background: rgba(255, 255, 255, 0.45);
}

.image {
  border-radius: 12px;
}

.body-image {
  margin-top: 6px;
  background-color: white;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #000000;
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  color: #000000;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 14px;
  font-weight: normal;
  background: transparent;
  color: #000000;
  text-shadow: none;
}

.widget-label label {
  font-size: 1.5rem;
}

.widget-title {
  font-size: 1rem;
}
.widget-title button {
  color: #000000;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
  border-radius: 12px;
}
.widget-title button:hover {
  background: rgba(255, 255, 255, 0.45);
}

/* DND widget */
.widget-dnd {
  font-size: 0.9rem;
}
.widget-dnd switch {
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
}
.widget-dnd switch slider {
  background: rgba(255, 255, 255, 0.45);
  border-radius: 12px;
}
.widget-dnd switch:checked {
  background: rgb(80, 167, 255);
}

.widget-mpris-player {
  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  color: #000000;
  padding: 12px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1rem;
}

.widget-mpris-subtitle {
  font-size: 1rem;
}

.widget-buttons-grid {
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.35);
  font-size: 1rem;
  font-weight: bolder;
}
.widget-buttons-grid flowbox flowboxchild button {
  padding: 16px 8px;
  color: #404040;
  background: rgba(255, 255, 255, 0.35);
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1254901961);
}
.widget-buttons-grid flowbox flowboxchild button:hover {
  background: rgba(255, 255, 255, 0.45);
}

.widget-backlight {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 12px;
  border-radius: 12px;
}
.widget-backlight label {
  color: #404040;
  font-size: 2rem;
  margin-right: 24px;
}

.widget-volume {
  background-color: rgba(255, 255, 255, 0.35);
  padding: 12px;
  border-radius: 12px;
}
.widget-volume box label {
  color: #404040;
  font-size: 2rem;
  margin-right: 24px;
}

/* Title widget */
.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}
.widget-inhibitors button {
  font-size: initial;
  color: #000000;
  text-shadow: none;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: none;
  border-radius: 12px;
}
.widget-inhibitors button:hover {
  background: rgba(255, 255, 255, 0.45);
}
