window {
    background-color: transparent;
}

entry {
    background-color: #202020;
    border: 1px solid #303030;
    border-radius: 16px 16px 0 0;
    font-size: 16px;
    padding: 8px 16px;
}

list {
    border-radius: 0 0 16px 16px;
}